
@{
    ViewBag.Title = "更改密码";
}


@section ForHead{
    <link rel="stylesheet" href="~/css/Changepass.css" />
}

@section title{
    @Html.ActionLink("首页", "UserLogin", "Users")>>修改密码
}

@using (Html.BeginForm("Changepass", "Users", FormMethod.Post))
{
    <div id="frame">
        手机号码:<input type="text" id="mobileNum" name="mobileNum" class="common" value=" @ViewBag.mobileNum" readonly>
        <br /><br /><br />
        
        新的密码: <input type="password" id="pass" name="pass" class="common" />
        <span class="warning">@ViewBag.hintpass</span>
        <br /><br /><br />

        <div id="button">
            <input type="submit" value="确定" />
            <input type="reset" value="重置" />
            @Html.ActionLink("返回主菜单", "Center", "Trade")
        </div>
    </div>
}